<div class="score col">
    <div class="container text-center high-score-count pull-left">0</div>
    <div class="container text-center score-count pull-right">0</div>
</div>
<div class="score-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="pull-left text-center text-info">BEST</div>
    <div class="pull-right text-center text-info">NEW</div>
</div>

<div class="eyetest-content"></div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="timer col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="time-title text-info">TIME</div>
        <div class="bg-success time-count text-center">15</div>
    </div>

    <div class="errors col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="error-title text-info">ERRORS</div>
        <div class="bg-info text-center error-count">0</div>
    </div>
</div>