<ion-view view-title="BRAIN MASTER">
  <ion-content class="padding">
    <div class="col-offset-33 col-33">
      <ul class="list list-inset text-center menugame">
        <li class="item"><a ui-sref="playgame">PLAY</a></li>
        <li class="item"><a ui-sref="setting">OPTIONS</a></li>
        <li class="item"><a ui-sref="more-games">MORE GAMES</a></li>
        <li class="item"><a ui-sref="credits">CREDITS</a></li>
        <li class="item"><a ui-sref="quit">QUIT</a></li>
      </ul>
    </div>
  </ion-content>
</ion-view>
